html {
  font-size: 65.2%;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.cls-1 {
  fill: #070808;
}
.cls-2 {
  fill: #5ab6e5;
}
.navWrapper {
  position: sticky;
  height: 6em;
  width: 100%;
  border-bottom: 1px solid black;
}
.navbar {
  display: flex;
  justify-content: space-between;
  font-size: 1.3rem;
  max-width: 1200px;
  margin: 0 auto;
  font-weight: bold;
  height: 100%;
}
.leftNav {
  display: flex;
  width: 50%;
  justify-content: space-between;
}
.navbarLink {
  color: #ababab;
  text-decoration: none;
  display: flex;
  align-items: center;
}
.activeNavLink {
  border-bottom: 0.25em solid #36acde;
  color: black;
}
.avatarDropDown {
  font-weight: 600;
  display: flex;
  align-items: center;
  cursor: pointer;
  svg {
    position: relative;
    top: 0.1em;
  }
}

.companyLogo {
  width: 12rem;
  display: flex;
  align-items: center;
  svg {
    width: 100%;
    height: auto;
  }
}
.routerContainer {
  display: flex;
  max-width: 1200px;
  margin: 0 auto;
}
.dashboard {
  width: 100%;
}
.overview {
  border-bottom: 1px black solid;
  display: flex;
  justify-content: space-between;
  h1 {
    margin-top: 0.99em;
  }
  .last_reported {
    display: flex;
    align-items: center;
  }
}
.parent {
  margin-top: 6em;
  height: 150px;
  list-style: none;
  display: flex;
  border-top: none;
  border-right: solid 1px lightgray;
  border-left: solid 1px lightgray;
  border-bottom: solid 1px lightgray;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  padding: 0;

  li {
    padding: 0.25em 0;
    padding-top: 0;
    width: 100%;
    border-right: solid 10px transparent;
    list-style: none;
  }
  li:last-child {
    border-right: solid 0px transparent;
    border-top-right-radius: 5px;
  }
  li div {
    border-top: solid 3px #5ab6e5;
  }
  li:first-child div {
    border-top: solid 3px #5ab6e5;
    border-top-left-radius: 5px;
    background: white;
  }
  li:last-child div {
    border-top-right-radius: 5px;
  }
  li div section {
    // border-right: solid 2px lightgray;
  }
}
